.big-header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.main-text {
    text-align: center;
}


.upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 500px;
    color: #999999;
    position: relative;
    margin-top: 10px;
}

.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #6568f4;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}


#vid-file{
    display: none;
}

#img-file{
    display: none;
}

#btn-submit{
    margin-top: 30px;
    margin-bottom: 200px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #6568f4;
    cursor: pointer;
    height: 40px;
}

.email-input {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 300px;
    color: #999999;
    position: relative;
}

#align-center{
    text-align: center;
}

#need-space{
    margin-top: 50px;
    margin-bottom: 60px;
}

.btn-checkbox {
    margin-top: 10px;
    margin-left: 10px;
}

input[type=checkbox] {
    transform : scale(1.5);
}